<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="unitary">
            <directory suffix="Test.php">./tests/Oyst/Test/Api</directory>
            <directory suffix="Test.php">./tests/Oyst/Test/Helper</directory>
        </testsuite>

        <testsuite name="functional">
            <directory suffix="Test.php">./tests/Oyst/Test/Controller</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Oyst/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
